.chat-main
  .main-header
    .chat-group_name
      .chat-group_name__logo
        = @group.name
      .chat-user_name
        .chat-user_name__logo
          Member:
          - @group.users.each do |user|
            .user
              = user.name
          
    .edit-box
      .edit-box__logo
        = link_to "Edit",edit_group_path(@group),class: "EDITlink"

  .messages
    = render @messages
    .message-user
      .message-user__logo
        
      .message-user_info
        .message-user_info__logo
          
      .message-text
        .messag-text__logo
          
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-zone__logo', placeholder: 'type a message'
      .message-image
        = f.label :image, class: 'message-image' do
          = icon('fas', 'image', class: 'message-image')
          = f.file_field :image, class: 'message-image__logo'
      = f.submit 'Send', class:'message-send__logo'
