.chat-main
  .main-header
    .chat-group_name
      .chat-group_name__logo
        test
      .chat-user_name
        .chat-user_name__logo
          Member : masa
    .edit-box
      .edit-box__logo
        EDIT
  .messages
    .message-user
      .massage-user__logo
        masa 
      .message-user_info
        .message-user_info__logo
          2019/11/20/(Wed) 17:43:01
.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
     .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
